* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: aqua;
}

main {
   margin-top: 13%;
}
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 250px;
    height: 105px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.photo-perfil {
    height: 65px;
    width: 65px;
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    margin-top: -40px;
    border: 3px solid white;
}
.container-text {
    background-color: white;
    width: 250px;
    height: 145px;
    margin-top: -5px;
    border-radius: 0  0 20px 20px;
}

.name {
    display: flex;
    justify-content: center;
}
.name h3, p {
    margin-top: 40px;
    font-size: 12px;
}
.name p {
    margin-left: 4px;
    color: rgb(159, 160, 160);
}

.london {
    
    display: flex;
    justify-content: center;
    color: rgb(159, 160, 160);
    margin-top: 2px;
    margin-bottom: 17px;

}

.footer {
    display: flex;
    justify-content: center;
}
.footer-text {
    display: grid;
    justify-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.footer-text p {
    margin-top: 0;
    color: rgb(159, 160, 160);
}

@media (max-width: 640px) {
    main {
        margin-top: 140px;
    }
    .image-container img  {
        width: 300px;
    }
    .container-text {
        width: 300px;
        height: 195px;
    }
    .name h3, p {
        margin-top: 80px;
    }
    .photo-perfil {
        margin-top: -92px;
        width: 100px;
        height: 100px;
    }
}